html {
    font-family: 'Roboto', sans-serif;
}

header {
    color: #ffffff;
}

body {
    background-color: #31314e;
    color: #000000;
}

.tab {
    width: 100%;
}

.tab button {
    width: 33%;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    border-bottom: 3px solid #000000;
}